@keyframes loading_effect{
    0%, 100% {
        content: ".";
    }

    25%{
        content: "..";
    }

    50%{
        content: "...";
    }

    75%{
        content: "";
    }
}

h2.loading::after {
    /* Aligns */
    content: "";
    animation-name: loading_effect;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-iteration-count: infinite;
}
