@keyframes loading_effect{
    0%, 100% {
        content: ".";
    }

    25%{
        content: "..";
    }

    50%{
        content: "...";
    }

    75%{
        content: "";
    }
}

h2.loading::after {
    /* Aligns */
    content: "";
    animation-name: loading_effect;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-iteration-count: infinite;
}

a {
    /* Sizes */
    font-size: 1.15em;

    /* Aligns */
    text-decoration: none;
    font-family:'Helvetica', 'Helvetica', 'Helvetica';

    /* Colors */
    color: #1d91c0;
}

a:hover {
    /* Aligns */
    font-family:'Helvetica', 'Helvetica', 'Helvetica';
    text-decoration: underline;

    /* Colors */
    color: #2e282a;
}

h1 {
    /* Sizes */
    font-size: 2.3em;

    /* Aligns */
    font-family: 'Helvetica', 'Helvetica', 'Helvetica';
}

p {
    /* Sizes */
    font-size: 1.15em;
    line-height: 1.4em;

    /* Aligns */
    font-family:'Helvetica', 'Helvetica', 'Helvetica';

    /* Colors */
    color: #2b2b28;

    /* Times */
    transition: .5s;
}

p:hover{
    /* Colors */
    background-color: rgba(0, 0, 0, 0.172);
    backdrop-filter: blur(5px);
}

footer {
    /* Sizes */
    border-top: 1px solid;
    font-size: 1.5em;

    /* Aligns */
    font-family:'Helvetica', 'Helvetica', 'Helvetica';
}

ul.posts {
    /* Sizes */
    font-size: 1em;

    /* Aligns */
    margin: 20px auto 40px;
    font-family:'Helvetica', 'Helvetica', 'Helvetica';
}

ul.posts li {
    /* Aligns */
    list-style: none;
}

h1, h2, h3, p{
    /* Sizes */
    margin: 35px auto;
}

img:not(.quality){
    /* Aligns */
    image-rendering: optimizeSpeed !important;
}

.window{
    /* Aligns */
    position: fixed;
    top: 20%;
    left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Sizes */
    width: 60%;
    height: 60%;
    padding-bottom: 30px;
    border-radius: 45px;

    /* Colors */
    background-color: rgb(63, 84, 102);
    background-image: linear-gradient(to top, rgb(42, 42, 68), rgb(0, 0, 0));
    color: aliceblue;
}

@keyframes pipe_animation{
    0%, 100%{
        /* Aligns */
        opacity: 0;
    } 50%{
        /* Aligns */
        opacity: 1;
    }
}

.message::after{
    /* Aligns */
    content: "|";
    animation-name: pipe_animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

button{
    /* Aligns */
    cursor: pointer;
}

.exit{
    /* Colors */
    background-color: red;
    color: white;
    border: none;
}
