*{
    /* Aligns */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
}

body, html {
    /* Sizes */
    width: 100%;

    /* Aligns */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

::selection{
    /* Colors */
    background-color: rgba(0, 0, 0, 0.378);
    color: lime;
}

section#content{
    /* Sizes */
    width: 85%;
    padding-top: 50px;
}
